$turquoise: hsl(288, 29%, 57%);
$blue: hsl(229, 46%, 19%);
$cyan: hsl(249, 32%, 43%);
$green: hsl(310, 56%, 36%);
$yellow: hsl(41, 40%, 55%);
$red: hsl(327, 94%, 47%);
$white-ter: hsl(252, 100%, 99%);
